<div class="custom-bg pt-3 px-5">

    <app-term-list-card [claim]="'99.2%'" [amt]="'1,227/month'" [disc]="'15%'" [title]="'iProtect Smart'" [imgSrc]="'https://static.pbcdn.in/term-cdn/images/images/insurer/ICICI_logo.png'" ></app-term-list-card>
    <app-term-list-card [claim]="'99.5%'" [amt]="'1,650/month'" [disc]="'10%'" [title]="'Click 2 Protect Super'" [imgSrc]="'https://static.pbcdn.in/term-cdn/images/images/insurer/HDFC_Life_logo.png'" ></app-term-list-card>
    <app-term-list-card [claim]="'97.2%'" [amt]="'1,210/month'" [disc]="'16%'" [title]="'Smart total elite protection'" [imgSrc]="'https://static.pbcdn.in/term-cdn/images/images/insurer/MAX_logo.png'" ></app-term-list-card>
    <app-term-list-card [claim]="'97.5%'" [amt]="'1,214/month'" [disc]="'9%'" [title]="'iProtect Smart'" [imgSrc]="'https://static.pbcdn.in/term-cdn/images/images/insurer/ICICI_logo.png'" ></app-term-list-card>

</div>