.myLogo{
    width: 30%;
    height: 30%;
    cursor: pointer;
}

.myBtn{
    background-color: rgb(57, 106, 98) !important;
    color: #fff !important;
}

.mat-toolbar{
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(193, 216, 212) 0%, rgb(193, 216, 212) 100%);
}
