.tagImg{
    width: 7rem;
    height: 6rem;
    background-size: cover;
    border-radius: 10px;
}

.discount{
    font-size: 12px;
    display: flex;
    color: #36b37e;
    hyphens: auto;
}

.discount-icon{
    font-size: 15px;
    margin-right: 2%;
}

.right{
    width: 75vw;
}
.amount{
    font-size: 13px;
    margin: 5% 0 0 2%;
}
.perks{
    font-size: 13px;
    display: flex;
}
.perks-icon{
    font-size: 15px;
    color: #36b37e;
}