<div class="d-flex py-3 mx-5">
    <div class="left d-flex ">
        <div class="">
            <img class="tagImg"
                [src]="imgTag"
                alt="logo">
        </div>
    </div>
    <div class="right">
        <div class="card py-2 px-3 d-flex flex-row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                       <b> {{titleTag}} </b>  
                    </div>
                </div>
                <div class="col my-1">
                    <span class="discount">
                        <mat-icon class="discount-icon"> percent </mat-icon> inclusive of 5% direct discount
                    </span>
                </div>
                <div class="col perks">
                   <mat-icon class="perks-icon">check_circle</mat-icon> {{benefits}}
                </div>
                <div class="col perks">
                    <mat-icon class="perks-icon">check_circle</mat-icon> ₹15 lakh Renewal Bonus
                </div>
                <div class="col perks">
                    <mat-icon class="perks-icon">check_circle</mat-icon> Unlimited Restoration of cover
                </div>
            </div>
            <div class="col px-4 amount">
                <div class="d-flex justify-content-between">
                    <span>Cover amount</span>
                    <span>Cashless Hospital</span>
                </div>
                <div class="d-flex justify-content-between ">
                    <b>₹ 1Cr</b>
                    <b> 178 ></b>
                </div>
                <div class="mt-4 mb-1">
                    <button mat-flat-button class="myBtn w-100" > ₹{{planPrice}}/month</button>
                </div>
                <div class="d-flex justify-content-center">
                    <span class="text-muted"> ₹12554/annually</span>
                </div>
            </div>
        </div>
    </div>
</div>