.myFont{
    font-size: 14px;
}

.mySelect{
    height: 15vh;
    width: 10vw;
}

.logo-img{
    width: 10vw;
}

.myLink{
    text-decoration: underline;
}

.discStyle{
    color: rgba(20,140,95,1);
    background: rgb(207, 247, 231);
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 3%;
    cursor: pointer;
}
.mySaving{
    font-size: 13px;
}

.top{
    background-color: rgba(0, 103, 255, .06);
}