<mat-drawer-container class="example-container" style="height: 100vh;" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="toggleNav">
        <mat-list role="list">
            <mat-list-item role="listitem" class="myList">
                <span class="d-flex justify-content-center gap-2">
                    <mat-icon class="">manage_accounts</mat-icon>
                    Admin Panel
                </span>
            </mat-list-item>
          </mat-list>        
    </mat-drawer>
</mat-drawer-container>