<div class="custom-bg pt-3 px-5">

    <div class=" d-flex justify-content-evenly">
        Quick filters
        <button mat-stroked-button class="filter-btn">  cover <mat-icon> keyboard_arrow_down </mat-icon> </button>
        <button mat-stroked-button class="filter-btn">  Sort by <mat-icon> keyboard_arrow_down </mat-icon> </button>
        <button mat-stroked-button class="filter-btn">  No room rent limit </button>
        <button mat-stroked-button class="filter-btn">  Doctor Consultancy and pharmacy </button>
        <button mat-stroked-button class="filter-btn">  Maternity cover </button>
    </div>
    <hr>

    <app-plancard [titleTag]="'Care Supreme combo'" [benefits]="'Any category up to 10 lakhs'" [imgTag]="'https://t4.ftcdn.net/jpg/01/04/68/75/360_F_104687503_P30SeVRxRXYxyItYj9Vm5kOztwosjb0z.jpg'" [planPrice]="'12457'" ></app-plancard>
    <app-plancard [titleTag]="'Aspire Gold + value'" [benefits]="'Maternity cover for both mother and baby'" [imgTag]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbsOEl_9BEos-31QYntg1JzU2KpWzenB6Y8w&s'" [planPrice]="'10877'" ></app-plancard>
    <app-plancard [titleTag]="'Super star'" [benefits]="'Any category up to 10 lakhs'" [imgTag]="'https://cdn.vectorstock.com/i/500p/11/24/gold-star-icon-vector-7421124.jpg'" [planPrice]="'12057'"></app-plancard>
    <app-plancard [titleTag]="'Optima secure'" [benefits]="'Any category up to 10 lakhs'" [imgTag]="'https://t4.ftcdn.net/jpg/01/04/68/75/360_F_104687503_P30SeVRxRXYxyItYj9Vm5kOztwosjb0z.jpg'" [planPrice]="'11765'"></app-plancard>

</div>