<!-- <div class=""> -->
    <div class="card mb-3">
        <div class="col d-flex justify-content-evenly p-3">
            <div class="col-md-3">
                <img class="Mylogo" [src]="imgPath" alt="">
            </div>
            <div class="col-md-3 d-flex flex-column">
                <span class="text-center">Third Party</span>
                <span class="text-center" style="font-size: 14px;color: green;">
                    Buy without inspection
                </span>
            </div>
            <div class="col-md-3 d-flex justify-content-center align-items-center">
                <button mat-flat-button class="myBtn" > {{price}} -> </button>
            </div>
        </div>
    </div>
<!-- </div> -->