<div class="custom-bg px-5 pt-3 d-flex gap-3">
    <div class="col-md-3">
        <div class="card p-3">
            <div class="col d-flex justify-content-between">
                <strong>MARUTI</strong>  <span class="myFont">Edit car</span>
            </div>
            <div class="col myFont">
                DL10CB1234  |  2011  |  Petrol
            </div>
            <hr>
            <div class="col d-flex justify-content-between myFont">
                <span>
                    IDV Cover (Insured Value)
                </span>
                <span>
                    Select IDV >
                </span>
            </div>
            <div class="col d-flex justify-content-between myFont my-2">
                <span>
                    No Claim Bonus (NCB)
                </span>
                <span>
                    0%
                </span>
            </div>
            <div class="col d-flex justify-content-between myFont">
                <span>
                    Policy Expiry Date
                </span>
                <span>
                    23-Jun-2024 >
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <app-car-plan-card [imgPath]="'https://static.pbcdn.in/car-cdn/car2.0/insurer/28.png'" [price]="'₹7897'" ></app-car-plan-card>
        <app-car-plan-card [imgPath]="'https://static.pbcdn.in/car-cdn/car2.0/insurer/29.png'" [price]="'₹6897'" ></app-car-plan-card>
        <app-car-plan-card [imgPath]="'https://static.pbcdn.in/car-cdn/car2.0/insurer/1.png'" [price]="'₹7597'" ></app-car-plan-card>
        <app-car-plan-card [imgPath]="'https://static.pbcdn.in/car-cdn/car2.0/insurer/2.png'" [price]="'₹4897'" ></app-car-plan-card>
        <app-car-plan-card [imgPath]="'https://static.pbcdn.in/car-cdn/car2.0/insurer/22.png'" [price]="'₹9897'" ></app-car-plan-card>
        <app-car-plan-card [imgPath]="'https://static.pbcdn.in/car-cdn/car2.0/insurer/6.png'" [price]="'₹8997'" ></app-car-plan-card>
        <app-car-plan-card [imgPath]="'https://static.pbcdn.in/car-cdn/car2.0/insurer/10.png'" [price]="'₹7697'" ></app-car-plan-card>
        <app-car-plan-card [imgPath]="'https://static.pbcdn.in/car-cdn/car2.0/insurer/28.png'" [price]="'₹7797'" ></app-car-plan-card>
        <app-car-plan-card [imgPath]="'https://static.pbcdn.in/car-cdn/car2.0/insurer/2.png'" [price]="'₹7497'" ></app-car-plan-card>

    </div>
</div>